<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js • TodoMVC</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <% if(isAuthenticated){ %>
  <script type="text/template" id="image-template">
    <p class="muted">{{=name}}</p>
    <a href="#remove/image/{{=_id}}" class="remove-page icon-remove"></a>
    <div  class="pagination-centered">
      <img src="{{=imagePath}}" alt="{{=name}}" class="img-rounded"/>
    </div>
    <hr/>
  </script>
  <% } %>

  <% if(isAuthenticated){ %>
  <script type="text/template" id="edit-menu-item-template">
    <div class="form-horizontal">
      <input type="text" id="label" name="label" value="{{=label}}"/>
      <input type="text" id="order" name="order" value="{{=order}}"/>
      <a href="#remove/menu/{{=_id}}" class="remove-page icon-remove"></a>
    </div>
  </script>
  <% } %>

  <script type="text/template" id="menu-item-template">
    <a href="#pageByUrl/{{=pageUrl}}" > {{=label}} </a>
  </script>

  <% if(isAuthenticated){ %>
  <script type="text/template" id="edit-page-template">
    <div class="form-horizontal">
      <div class="control-group">
        <label for="h1" class="control-label">Big content</label>
        <div class="controls">
          <input type="text" id="h1" name="h1" value="{{=page.h1}}" class="input-large"/>
        </div>
      </div>

      <div class="control-group">
        <label for="p" class="control-label">Smal content</label>
        <div class="controls">
          <input type="text" id="p" name="p" value="{{=page.p}}"/>
        </div>
      </div>

      <div class="control-group">
        <label for="order" class="control-label">Order</label>
        <div class="controls">
          <input type="text" id="order" name="order" value="{{=page.order}}"/>
        </div>
      </div>

      <div class="control-group">
        <label for="p" class="control-label">Large</label>
        <div class="controls">
          <input type="checkbox" name="large" id="large" value="{{=page.large}}" {{= (page.large===true)? 'checked="checked"': '' }}/>
        </div>
      </div>
      <div class="control-group">
        <label for="img" class="control-label">Image {{=images}}</label>
        <div class="controls">
          <select name="imagePath" id="imagePath">
            <option value="_">No selection</option>
            {{images.each(function(image){ }}
                <option value="{{=image.get('imagePath')}}" {{= (image.get('imagePath') === page.imagePath)? 'selected': ''}}>{{=image.get('name')}}</option>
            {{ }); }}
          </select>
        </div>
      </div>

      <div class="control-group">
        <label for="p" class="control-label">Before</label>
        <div class="controls">
          <input type="checkbox" name="before" id="before" value="{{=page.before}}" {{= (page.before===true)? 'checked="checked"': '' }}/>
        </div>
      </div>

      <div class="control-group">
        <label for="p" class="control-label">Selected Image</label>
        <div class="controls">
          <img src="{{=page.imagePath}}" alt="" id="selected-imagePath" class="img-rounded"/>
        </div>
      </div>

      <input type="hidden" id="pageUrl" name="pageUrl" value="{{=page.pageUrl}}"/>
    </div>
  </script>
  <% } %>

  <script type="text/template" id="contact-template">
    <p class="lead">
      <h1>Contact</h1>
      <address>
        <strong>{{= contact.companyName}}</strong><br>
        <abbr title="git">G:</abbr> {{=contact.git}}
        <abbr title="linked">L:</abbr> {{=contact.linked}}
        <abbr title="stack">S:</abbr> {{=contact.stack}}
      </address>
   
      <address>
        <strong>{{= contact.dislpayName}}</strong><br>
        <a href="mailto:#">{{contact.mail}}</a>
      </address>
      <% if(isAuthenticated){ %>
        <a href="#manage/page/{{contact._id}}" class="edit-page icon-edit"></a>
      <% } %>
    </p>
  </script>

  <script type="text/template" id="page-template">
    <div id="read-only-page-{{=page._id}}" {{= (page.large===true)? 'class="jumbotron"':''}}>
      <h1>
        {{ if(page.h1.indexOf('.') !== -1) { }}
          {{= page.h1.substring(0, page.h1.indexOf('.'))}}
          <span class="muted">{{= page.h1.substring(page.h1.indexOf('.'))}}</span>
        {{ }else{ }}
          {{= page.h1}}
        {{ } }}
      </h1>
      <p class="lead">
        {{ if(page.before===true && page.imagePath !== '_') { }}
          <img src="{{=page.imagePath}}" alt="" id="imagePath" class="img-rounded"/>
        {{ } }}
        {{=page.p}}
        {{ if(page.before===false && page.imagePath !== '_') { }}
          <img src="{{=page.imagePath}}" alt="" id="imagePath" class="img-rounded"/>
        {{ } }}
      </p>
      <% if(isAuthenticated){ %>
      <a href="#manage/page/{{=page._id}}" class="edit-page icon-edit"></a>
      <a href="#remove/page/{{=page._id}}" class="remove-page icon-remove"></a>
      <% } %>
    </div>
    <hr>
  </script>

 

  <div class="container-narrow">
    
    <!-- Menu-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" >
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MJS |</a>
          <div class="nav-collapse collapse" id="menu-container"></div>
        </div>
      </div>
    </div>
   
    
    <div id="add-page-container"></div>  
    <div id="page-container" class="page-container"></div>

    <div id="page-managemant" 
        class="modal hide fade" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="page-modal-header-label" 
        aria-hidden="true"
      >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="page-modal-header-label">Page management</h3>
      </div>
      <div class="modal-body">
        <p>Links</p>
        <div id="page-management-container"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>

    <div id="menu-managemant" 
        class="modal hide fade" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="menu-modal-header-label" 
        aria-hidden="true"
      >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="menu-modal-header-label">Link management</h3>
      </div>
      <div class="modal-body">
        <p>Links</p>
        <div id="menu-management-container"></div>
      </div>
      <div class="modal-footer">
        <a href="#add/menu" class="btn" id="add-menu-item">Add</a>
        <button class="btn btn-primary"data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
  <!-- File uploader -->
  <div id="image-managemant" 
    class="modal hide fade" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="image-modal-header-label" 
    aria-hidden="true"
    >
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="image-modal-header-label">Link management</h3>
    </div>
    <div class="modal-body">
      <p>Links</p>
      <div>
        <form id="image-management-container-form" action="/updaload/image" method="POST" enctype="multipart/form-data">
          <input type="file" name="customImage"/>
        </form>
        <div id="image-management-container"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn"data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" id="image-management-container-send">Send</button>
    </div>
  </div>
  

  <!-- Admin panel-->
  <div class="navbar navbar-fixed-bottom" id="admin-page">
    © MJS 2012
    <% if(isAuthenticated){ %>
     |
    <a href="/logout">Logout</a>
     |
    <a href="#create/page">Create page</a>
     |
    <a href="#manage/menu" role="button" data-toggle="modal">Link management</a>
     |
    <a href="#manage/image" role="button" data-toggle="modal">Image management</a>
    <% }else{ %>
     |
    <a href="/login">Login</a>
    <% } %>
  </div>

  
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/bootstrap.js"></script>
  <script src="js/lib/jquery.iframe-transport.js"></script>
  
  <script src="js/models/Link.js"></script>
  <script src="js/models/Page.js"></script>
  <script src="js/models/Image.js"></script>

  <script src="js/collections/Link.js"></script>
  <script src="js/collections/Page.js"></script>
  <script src="js/collections/Image.js"></script>

  <script src="js/views/Link.js"></script>
  <script src="js/views/LinkEdit.js"></script>
  <script src="js/views/LinkList.js"></script>
  <script src="js/views/LinkListEdit.js"></script>
  
  <script src="js/views/Page.js"></script>
  <script src="js/views/PageEdit.js"></script>
  <script src="js/views/PageList.js"></script>

  <script src="js/views/Image.js"></script>
  <script src="js/views/ImageList.js"></script>
  
  <script src="js/routers/router.js"></script>
  
  <script src="js/app.js"></script>  
</body>
</html>